@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: rgb(41, 44, 56);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.banner {
    text-align: center;
}

.banner h1, .banner h3 {
    font-size: 50px;
    font-weight: 230;
    margin: 18px 0;
    padding: 20px;
}

.form-row {
    justify-content: center;
    padding: 15px;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nos .container, .final {
    text-align: center;
    padding: 20px 0;
}

.somos, .somos-2, .nos-text {
    margin: 20px 0;
}

.somos h3, .somos-2 h3, .nos-text h3 {
    font-size: 50px;
    font-weight: 230;
    margin: 18px 0;
    padding: 20px;
}

.somos-img, .somos-video {
    text-align: center;
}

iframe {
    border-radius: 5%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.somos-2 ul {
    list-style-type: none;
    padding: 0;
}

.somos-2 ul li {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    margin: 5px 0px 10px 150px;
}


ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}